{{> head }}
    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>{{ nombre }}</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, animi. Molestiae corporis ipsum possimus dolor odio. Et velit iure nesciunt, sint minus possimus, laborum eius labore ullam tempora inventore autem.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/profile.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}